@import url(../../fonts/font.css);

.homepage {
  background-color: #F5F5F5;
  border: 1px solid red;
  height: 787px;
}

.homepage_blockwithbutton {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  margin: 113px 0 0 145px;
  position: absolute;
}

.homepage_blockwithtext {
  max-width: 533px;
  margin: 10px 8px;
  border: 1px solid red;
}
.homepage_title { 
  border: 1px solid red;
  font-family: 'LexendDeca', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;  
  margin: 0;
  color: #393939;
}

.homepage_margin {
  
}
.homepage_highlighting {
  position: relative;
  background-color: rgba(255,255,100,0.1);
  z-index: 1;
  display: inline-block;
}
.homepage_highlighting:after {
  content: attr(title);
  position: absolute;
  color: #393939;
  top: 3px;
  left: -6px;
  width: calc(100% + 16px);
  height: calc(100% - 6px);
  background-color: rgba(219,255,0);
  z-index: -1;
  line-height: 40px;
}
.homepage_containbutton {
}
.homepage_button {
  border: 1px solid red;
  background-color: #0075FF;
  border-radius: 32px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px 16px 24px;
}
.homepage_button:hover{
  cursor: pointer;
}
.homepage_button-text {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-right: 8px;
  display: inline-block;
}
.homepage_button-arrow {
  background-image: url(../../images/ArrowButtonHeader.svg);
  color: white;
  background-color: #0075FF;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.homepage_arrow {
  background-image: url(../../images/ArrowLong.png);
  background-size:cover;
  border: 1px solid red;
  height: 182px;
  width: 140px;
  position: absolute;
  bottom: 4px;
  right: 44px;
}
.homepage_containwithimmages {
  height: 584px;
  width: 100%;
  border: 1px solid red;
  position: relative;
}
.homepage_containwithimmage-man {
  width: 202px;
  height: 349px;
  top: 0;
  right: 450px;
  z-index: 3;
}
.homepage_containwithimmage-car {
  width: 248px;
  height: 428px;
  top: 195px;
  right: 148px;
  z-index: 3;
}
.homepage_containwithimmage-like {
  width: 215px;
  height: 329px;
  top: 64px;
  right: 1px;
  z-index: 2;
}
.homepage_containwithimmage {
  position: absolute;
}