.navigation {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: baseline;
}
.navigation__list {
  list-style-type:  none;
  height: 24px;
}
.navigation__link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #252525;
  vertical-align: top;
}
.navigation__icon {
  vertical-align: top;
  margin-right: 8px;
}
.navigation__link_menu {
  margin: 0 16px;
}
.navigation__module-icon {
  margin: 8px 28px;
}
.navigation__profile {
  margin-left: 24px;
}