.navigation {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: baseline;
}

.navigation__list {
  list-style-type: none;
  height: 24px;
}

.navigation__module-icon {
  margin: 8px 28px;
}

@media screen and (max-width: 1280px) {
  .navigation__module-icon {
    margin: 4px 10px;
  }
}

.navigation__profile {
  margin-left: 24px;
}

@media screen and (max-width: 1280px) {
  .navigation__profile {
    margin-left: 10px;
  }
}